.description {
    font-size: small;
}

.card {
    margin: 1rem;
    width: 14rem;
    height: 26rem;
}

.card p {
    font-size: small;
}

.card-shadow {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15)
}