.description {
    font-size: small;
}

.card {
    margin: 1rem;
    width: 14rem;
    height: 29rem;
}

.card p {
    font-size: small;
}

.card-shadow {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15)
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

.btn-success {
    align-self: flex-end; 
}

@media (max-width: 511px) {
    .card {
        margin: 1rem;
        width: 22rem;
        height: 38rem;
    }
    }
  

